<p>error-page works!</p>
<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li routerLink="/auth/login" class="list-group-item">Ir a Login</li>
            <li routerLink="/auth/registro" class="list-group-item">Ir a Registro</li>
            <li routerLink="/auth/listado" class="list-group-item">Ir a Listado</li>
            <li routerLink="/auth/agregar" class="list-group-item">Ir a Agregar</li>
            <li routerLink="/auth/editar" class="list-group-item">Ir a Editar</li>
            <li routerLink="/auth/1234" class="list-group-item">Ir a Detalles de Heroe</li>
        </ul>
    </div>
</div>
<ul></ul>